/*Kai Peters
April 25, 2023*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Black.ttf) format('tff'), url(../fonts/Poppins-Bold.ttf) format('tff'); 
}

body {
  background: rgb(66, 77, 71);
  color: #ebe14d;
  font-size: 1.35rem;
  font-family: 'PlayFair Display', sans-serif;
  text-align: center;
}
body {
  background-image: url(../images/Background_image.png);
  background-position: center;
  background-repeat: no-repeat;
}
main {
  background: linear-gradient(to right, #343d8d, #69afcf);
	padding: 10px;
	margin: 20px;
  text-align: center;
	border-radius: 2em;
  font-family: 'Poppins', sans-serif;
}
ul li {
  list-style-type: none;
}
nav {
  padding: 1rem;
}
footer {
  background: linear-gradient(to left, #86348d, #78d6f3);
  border-radius: 2em;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
  padding: 10px;
}
.namecolor {
  color: mediumspringgreen;
}
a:link {
  color: yellow;
}
a:hover {
  color: pink;
}
a:visited {
  color: mediumspringgreen;
}
a:active {
  color: lightskyblue;
}
.addrightmargin {
  float: left;
}
