/*Kai Peters
April 25, 2023*/
input {
  font-size: 1.25rem;
  padding: 5px;
  border: 1px solid #000000;
  transition: all 0.5s ease;
}
input:focus {
  font-size: 1.35rem;
  padding: 10px;
  border: 2px solid #1a0664;
  outline: none;
}
#checkcolors {
  color: #7bfa49;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5e0d61;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}