@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');

table {
  width: 100%;
  background-image: linear-gradient(#FFFFFF, #F0F9E6);
  border-collapse: collapse;
  border-width: 2px;
  border-color: #DFA478; 
  border-style: solid;
  color: #000000;
  margin-bottom: 20px;
  font-family: 'Play Fair', sans-serif;
}

table td, th {
  border-width: 2px;
  border-color: #DFA478;
  border-style: solid;
  padding: 15px;
}

table thead {
  background-color: #DFA478;
}

p {
  font-family: 'Play Fair', sans-serif;
}