/*Kai Peters
April 20, 2023*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');
@font-face {
	font-family: 'Roboto';
	src: url(../fonts/roboto/roboto-regular1-webfont.woff2) format('woff2'),
			url(../fonts/roboto/roboto-regular1-webfont.woff) format('woff'); 
}
#outerwrapper {	
	border-radius: 15%;
	background: rgba(243,205,170, 0.4);
	max-width: 70%;
	margin: auto;
}
body {
	background-image: url(../images/jewelry.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
footer {
	padding-bottom: 10px;
	text-align: center;
}
main {
	background: linear-gradient(to right, #FFFFFF, #F0F9E6);
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-size: 1.25em;
	font-family: 'Playfair Display', serif;
}
main table, p, ul {
	font-size: 1.25em;
	font-family: 'Playfair Display', serif;
}
.addrightmargin {
	float: left;
	border-radius: 50%;
	margin-right: 10%;
}
nav ul {
	list-style-type: none;
	font-size: 1.5em;
	clear: both;
}
h1 {
	font-family: 'Pacifico', cursive;
	font-size: 4em;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 2em;
}