/*Kai Peters
April 12, 2023*/

.intro {
  font-size: 20px;
  color: coral;
  padding: 15px 50px;
  text-align: center;
}
.highlight {
  background-color: palevioletred;
  padding: 7px;
  color: brown;
}
.alert {
  background: orangered; 
  color: white;
  font-weight: bold;
  padding: 6px;
}

.alert.green {
  background: green;
}